.title {
  margin-top: 50px !important;
  font-size: 30px !important;
}

.pentagram {
  width: 100px;
  height: 100px;
  background: ghostwhite !important;
  border-color: orchid !important;
  border-radius: 100px !important;
  margin: 20px auto !important;
}
